<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>900373646135-njarjo2hqqibs2i9bj3ft18jj6da7v0t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.900373646135-njarjo2hqqibs2i9bj3ft18jj6da7v0t</string>
	<key>API_KEY</key>
	<string>AIzaSyA4zczUL8VR1WYKidaVuJKIqP-U6n8hsHU</string>
	<key>GCM_SENDER_ID</key>
	<string>900373646135</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hk.communityApplication</string>
	<key>PROJECT_ID</key>
	<string>hitexa-78f8a</string>
	<key>STORAGE_BUCKET</key>
	<string>hitexa-78f8a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:900373646135:ios:2e150e6e78be4cf167e8b2</string>
	<key>DATABASE_URL</key>
	<string>https://hitexa-78f8a.firebaseio.com</string>
</dict>
</plist>